@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    line-height: 1;
    color: #000000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #000000;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.logo {
    margin-top:  14px;
    color: aquamarine;
}

.main-nav {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 34px;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: aquamarine;
}

.contents {
    margin: 20px 0 0 20px;
}

.contents p {
    margin-top: 5px;
}

.form-block {
    margin-top: 20px;
}

.deadline {
    display: flex;
    align-items: center;
}

.add-button {
    margin-left: 76px;
}

select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}