{% extends "layout.html" %}

{% block nav %}
<ul class="main-nav">
    <li><a href="/signup">新規登録</a></li>
    <li><a href="/login">ログイン</a></li>
</ul>
{% endblock %}

{% block contents %}
<h3>ログインする</h3>
<p>アカウントを持っていない場合は<a href="/signup">新規登録</a>する</p>
<div class="form_block">
    <form action="/login/try" method="POST" class="pure-form pure-form-stacked">
        <label for="user_name">ユーザーID</label>
        <input type="text" name="user_name" id="user_name" placeholder="ユーザーID">
        <label for="pw">パスワード</label>
        <input type="password" name="pw" id="pw" placeholder="パスワード">
        <button type="submit" class="pure-button pure-button-primary">ログイン</button>
    </form>
</div>
{% endblock %}