{% extends "layout.html" %}

{% block nav %}
<ul class="main-nav">
    {% if not status %}
    <li><a href="/signup">新規登録</a></li>
    <li><a href="/login">ログイン</a></li>
    {% else %}
    <li><a href="/logout">ログアウト</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block contents %}
<h3> {{ user_name }} さんのタスク</h3>
<div class="form-block">
    <form action="/add/try" methods="POST" class="pure-form pure-form-stacked">
        <label>タスクを追加する</label>
        <input type="text" name="title" id="title" placeholder="タイトル">
        <textarea name="memo" rows="2" cols="60" placeholder="メモ"></textarea>
        <div class="deadline">
            <h3>期限：</h3>
            <select id="year">
                <option>2021</option>
                <option>2022</option>
            </select>
            <h3>年</h3>
            <select id="month">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <h3>月</h3>
            <select id="day">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
            </select>
            <h4>日</h4>
            <div class="add-button">
                <button type="submit" class="pure-button pure-button-primary">追加する</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}